<template>
  <ContentLayout>
    <template v-slot:content>
      <BoardComponent></BoardComponent>
      <!-- <ConsoleComponent></ConsoleComponent> -->
    </template>
  </ContentLayout>
</template>

<script lang="ts">
// @ts-nocheck
import { defineComponent } from "vue";
import ContentLayout from "./components/layout/ContentLayout.vue";
import BoardComponent from "./components/BoardComponent.vue";
import ConsoleComponent from "./components/ConsoleComponent.vue";

export default defineComponent({
  name: "App",
  data() {
    return {
      // game: Game

    };
  },
  created() {
    // this.ProgressBar.start()
    // for (let i = 0; i < 10;) {
    //   this.ProgressBar.step(++i, 10);
    // }

    // this.ProgressBar.stop();
  },
  mounted() { },
  methods: {

  },
  components: {
    ContentLayout,
    BoardComponent,
    ConsoleComponent
  },
});
</script>

<style scoped>

</style>
