
<script lang="ts">
import { defineComponent, toRefs, toRef } from "vue";
export default defineComponent({
    name: "ContentLayout",
    computed: {},
    props: {
        guid: String,
    },
    data() {
        return {

        };
    },
    mounted() {

    },
    methods: {

    },
    components: {},
});
</script>
<template>
    <main>
        <slot name="content"></slot>
    </main>
</template>

<style scoped>
    main {
        padding: 0.001em;
    }
</style>
