
<script lang="ts">
// @ts-nocheck
import { computed, EmitsOptions, SetupContext } from 'vue'
function getError(value) {
    console.error(value)
}
export default {
    props: {
        value: null
    },
    computed: {
        getTypeOf() {
            return typeof this.value
        },
        classObject() {
            const t = this.getTypeOf
            return {
                [t]: t
            }
        }
    }
    // setup(props, ctx) {
    //     // const error = computed(() => getError(
    //     //     props.value,
    //     //     { min: props.min, max: props.max }
    //     // ))
    //     return () => ctx.slots.default({

    //     })
    // }
}
</script>

<template>
    <code class="var" :class="classObject">{{value}}</code>
</template>

<style scoped>
.var {
    color: #569CD6;
    padding:0.1em 0.3em;
    background-color: #1e1e1e;
}

.var.string {
    color: #CE9178;
}

.var.function {
    color: #DCDCAA;
}

.var.number {
    color: #B5CEA8;
}
</style>
