<template>
  <div class="board">
    <section id="controls">
      <button @click="(ev : Event) => action(ev, 0)">fold&gt;</button>
      <button @click="(ev : Event) => action(ev, 1)">check&gt;</button>
      <button @click="(ev : Event) => action(ev, 2)">call&gt;</button>
      <button @click="(ev : Event) => action(ev, 3)">bet&gt;</button>
      <button @click="(ev : Event) => action(ev, 4)">allIn&gt;</button>
      <button @click="addPlayer">addPlayer1</button>
    </section>
    <section>
      <div id="play_area">
        <HandComponent v-for="player in game.players" :player="player" :key="player.guid">
        </HandComponent>
      </div>
    </section>
    <section id="info">
      <pre>
bigBlind: {{ game.bigBlind }},
smallBlind: {{ game.smallBlind }}</pre>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, toRefs, toRef } from "vue";
import Game from "../../../common/game";
import Action from "../../../common/models/action";
import ActionType from "../../../common/models/actionType";
import Player from "../../../common/player";
import EventBus, { EventMessageCategory } from "./event-bus";
import HandComponent from "./HandComponent.vue";

export default defineComponent({
  name: "BoardComponent",
  computed: {
    logMessages(): object[] {
      return this.game.logMessages;
    },
    status() {
      return ''
    }
  },
  props: {
    guid: String,
  },
  data() {
    return {
      game: new Game(),
    };
  },
  mounted() {
    this.createTestGame();
  },
  methods: {
    // check next whatever
    action(ev: Event, t: ActionType) {
      let player = this.game.activePlayer
      let action = new Action(player, t)
      this.game.afterActionCheck(action);
    },
    addPlayer() {
      this.game.addPlayer(Player.createRandomPlayer());
      EventBus.$emit(EventMessageCategory.PlayerAdded, { msg: "hello" });
    },
    createTestGame() {
      this.addPlayer();
      this.addPlayer();
      this.addPlayer();
      this.addPlayer();
      this.game.newRound()
    },
  },
  components: { HandComponent },
});
</script>

<style scoped>
#controls {}

#play_area {
  display: flex;
  gap: 1rem;
}

#info {
  padding: 0 1rem;
  display: flex;
}
</style>
