
<script lang="ts">
// @ts-nocheck
import { defineComponent } from "vue";
import Card from "../../../common/models/card";

export default defineComponent({
  name: "CardComponent",
  created() {

  },

  data() {
    return {}
  },

  props: {
    card: Card
  },
})
</script>

<template>
  <span class="card" :data-suit="card.color">{{ card.rank }}&nbsp;{{ card.suit }}</span>
</template>
