<script lang="ts">
// @ts-nocheck
import EventBus, {
  EventMessage,
  EventMessageCategory,
} from "../components/event-bus";
import { defineComponent } from "vue";

export default defineComponent({
  name: "ConsoleComponent",
  data() {
    return {
      rows: [],
      inputString: "",
      element: null,
    };
  },
  mounted() {
    this.element = this.$refs.console;
    // let values = Object.values(EventMessageCategory);
    // EventBus.$on(EventMessageCategory.Unspecified, this.log(EventMessageCategory.Unspecified));
    // EventBus.$on(EventMessageCategory.Interaction, this.log(EventMessageCategory.Interaction));
    // EventBus.$on(EventMessageCategory.Action, this.log(EventMessageCategory.Action));
    // EventBus.$on(EventMessageCategory.PlayerAdded, this.log(EventMessageCategory.PlayerAdded));
    // EventBus.$on(EventMessageCategory.PlayeRemoved, this.log(EventMessageCategory.PlayeRemoved));
  },
  props: {
    index: 0,
  },
  components: {},
  methods: {
    onInput(ev) {
      this.inputString = ev.target.value;
    },
    // log(type: string) {
    //   return (eventMessage: EventMessage) => {
    //     eventMessage.category = EventMessageCategory[type];
    //     let jsonString = JSON.stringify(eventMessage, null, -1);
    //     this.element.innerHTML += jsonString + "\n";
    //   };
    // },
  },
});
</script>

<template>
  <aside class="console">
    <div class="title"></div>
    <textarea ref="console" class="output" name="" readonly></textarea>
    <input type="text" class="input" @input="onInput" />
  </aside>
</template>

<style scoped>
/* reset <textarea> */
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
/* reset <input> */
input[type="text"] {
  outline: none;
}

.console {
  font-family: monospace;
  font-size: 14pt;
  width: 100%;
  height: 100%;
  background-color: #090909;
  color: #f6f6f6;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2rem auto 3.6rem;
}
.console .title {
  background-color: gray;
}
.console .output {
  word-break: break-all;
  margin: 0.1rem;
  margin: 0 auto;
  border-width: 0px;
  background-color: transparent;
}
.console .input {
  margin: 0.1rem;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  border: none;
}
.console .input:not(:focus){
  /* background-color: hotpink; */
  content: "|";
  /* color: hotpink; */
}
.console .input:focus-within::after{
  content: "|";
  color: orangered;
  width: 20px;
  height: 20px;
}
</style>
