<script lang="ts">
import { defineComponent } from "vue";
import CardComponent from './CardComponent.vue'
import Player from "../../../common/player";
import EventBus, { EventMessageCategory } from "./event-bus";
import Variable from "./layout/Variable.vue";

export default defineComponent({
  name: "HandComponent",
  data() {
    return {};
  },

  created() {

  },

  props: {
    player: Player,
  },

  components: {
    CardComponent,
    Variable
},

  methods: {
    onClick(ev : Event) {
      EventBus.$emit(EventMessageCategory.Interaction, {});
    },
  },
});
</script>

<template>
  <aside class="hand" @click="onClick" v-if="player !== undefined">
 
    <Variable :value="'hello'"><p>s</p></Variable>
    <p>{{player.name}}</p>
    <p>{{player.cash}}</p>
    <p>{{player.isActive}}</p>
    <CardComponent v-for="(card, i) in player?.hand?.cards" :card="card" :key="i"></CardComponent>
  </aside>
</template>

<style scoped>
.hand {
  border: 1px solid #441818ee;
  padding: 0.2rem;
}
.hand p {
  margin:0;
}
</style>
