<script lang="ts">
// @ts-nocheck
import EventBus, { EventMessageCategory } from "../components/event-bus";
import { defineComponent } from "vue";

export default defineComponent({
  name: "SeatComponent",
  data() {
    return {};
  },
  created() {},
  props: {
    index: 0,
  },
  components: {},
  methods: {
    onClick(ev) {
      EventBus.$emit(EventMessageCategory.Interaction, {});
    },
  },
});
</script>

<template>
  <div class="seat" @click="onClick" :data-index="index">
    <span
      >seat:<i>{{ index }}</i></span
    >
  </div>
</template>

<style scoped>
.seat {
  padding: 1rem;
  border-radius: 0.2em;
}

.seat[data-index="0"]{
    grid-column: 4;
    grid-row: 1;
}
.seat[data-index="1"]{
    grid-column: 9;
    grid-row: 1;
}
.seat[data-index="2"]{
    grid-column: 1;
    grid-row: 5;
}
.seat[data-index="3"]{
    grid-column: 12;
    grid-row: 5;
}
.seat[data-index="4"]{
    grid-column: 4;
    grid-row: 12;
}
.seat[data-index="5"]{
    grid-column: 9;
    grid-row: 12;
}
</style>
