:root {
    --text: #2c3e50;
}

html {
    font-size: 62.5%;
}

html,
body {
    margin: 0;
}
html,
body,
body > #app,
#app > main {
    height: 100%;
}

#app > main {
    
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    padding: 0.6rem 0.8rem;
}