.card {
    width: 3.6rem;
    height: 4.8rem;
    background-color: #f9f9f9;
    display: inline-flex;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 2.0rem;
    border-color: #000000;
    border-width: 0.01em;
    border-style: solid;
}

.card[data-suit="red"] {
    color: #bb0000;
}

.card[data-suit="black"] {
    color: #090909;
}
